$brand-primary: #E64D37;
$brand-primary-hover: #F06A57;
$brand-primary-pressed: #CC3F2B;
$brand-primary-press-light: rgba($brand-primary, 0.12);
$brand-primary-press-dark: rgba($brand-primary, 0.18);
